@media (max-width: 980px) {
    #techpagecontents {
        .other-use-item {
            h4 {
                padding-top: 8px;
                font-size: 22px;
                line-height: 2.2rem;
            }

            p {
                margin: 1rem auto;
            }

            &:hover {
                h4 {
                    color: lighten($darkBlue, 13%);
                }

                p {
                    color: #666;
                }
            }
        }

        .other-use-long {
            h4 {
                padding-top: 8px;
            }
        }
    }

    .other-use-item {
        height: 240px;

        &:hover {
            border-color: lighten($darkBlue, 13%);

            span {
                color: lighten($green, 6%);
            }
        }

        p {
            position: static;
            opacity: 1;
        }

        span {
            margin-bottom: -1rem;
        }

        .fa-angle-up {
            display: none;
            opacity: 0;
            top: 0;
        }
    }
}

@media (max-width: 768px) {
    #techpagecontents {
        .other-use-item {
            margin: 2rem auto 0;
        }
    }

    .other-use-container {
        flex-direction: column;
    }

    .other-use-item {
        width: 98%;
        max-width: 400px;
        height: auto;
        
        span {
            margin-bottom: 0;
        }
    }
}

@media (max-width: 516px) {

}

@media (max-width: 416px) {

}


@media (min-width: 760px) {

}

@media (min-width: 870px) {

}

@media (min-width: 1400px) {

}

@media (min-width: 1800px) {

}

// \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
// \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
// \\\\\\\\\\\\\\\\  BROWSER COMPATIBILITY \\\\\\\\\\\\\\\\\
// \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
// \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

/* EDGE */
@supports (-ms-ime-align:auto) {

}
  
/* IE 10 & 11 */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

}

/* iPad */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    .other-use-container {
        flex-direction: row;
    }

    #techpagecontents {
        .other-use-item {
            h4 {
                padding-top: 8px;
                font-size: 22px;
                line-height: 2.2rem;
            }

            p {
                margin: 1rem auto;
            }
        }

        .other-use-long {
            h4 {
                padding-top: 8px;
            }
        }
    }

    .other-use-item {
        height: 240px;
        margin-top: 2rem;
        width: 48%;
        max-width: null;

        p {
            position: static;
            opacity: 1;

        }

        .fa-angle-up {
            display: none;
            opacity: 0;
            top: 0;
        }
    }
}
@media all and (device-width: 1024px) and (device-height: 768px) and (orientation:landscape) {
    #techpagecontents {
        .other-use-item {
            h4 {
                padding-top: 8px;
                font-size: 22px;
                line-height: 2.2rem;
            }

            p {
                margin: 1rem auto;
            }
        }

        .other-use-long {
            h4 {
                padding-top: 8px;
            }
        }
    }

    .other-use-item {
        height: 240px;

        p {
            position: static;
            opacity: 1;
        }

        span {
            margin-bottom: -1rem;
        }

        .fa-angle-up {
            display: none;
            opacity: 0;
            top: 0;
        }
    }
}